<div style="height: 100%; background-color: lightgray; font-family: Garamond">
  <div style="height: 100%; text-align: center; padding: 4mm;">
    <table style="width: 100%; height: 100%; ">
    <tbody style="width: 100%; height: 80%; ">
        <tr style="width: 100%; height: 30%; ">
            <td style="width: 33.1597%;"><br></td>
            <td style="width: 33.507%;">{{ name }} <br></td>
            <td style="width: 33.3333%;"><br></td>
        </tr>
        <tr style="width: 100%; height: 70%; ">
            <td style="width: 0%;"><br></td>
            <td style="width: 100%;">{{ text }}<br></td>
            <td style="width: 0%;"><br></td>
        </tr>
    </tbody>
    <tbody style="width: 100%; height: 20%; float: bottom">
        <tr>
            <td style="width: 33.1597%;">{{ power }}<br></td>
            <td style="width: 33.507%;"><br></td>
            <td style="width: 33.3333%;">{{ toughness }}<br></td>
        </tr>
        <tr>
            <td style="width: 33.1597%;"><br></td>
            <td style="width: 33.507%;">{{ tier }}<br></td>
            <td style="width: 33.3333%;"><br></td>
        </tr>
    </tbody>
</table>
  </div>
</div>
